@using OnlineShopping.Web.Models
@model EmployeeModel

@{
    Layout = null;

    string text = Model.Id != 0 ? "Update" : "Add";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save Employee</title>

    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/layout.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/commonDesign.css">
    <link rel="stylesheet" href="~/css/warninganimation.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <form asp-controller="Employee" asp-action="SaveEmployee" method="post" class="form-group">
        <div class="form-group">
            <label asp-for="Name" for="name" class="mr-sm-2">Name:</label>
            <input asp-for="Name" class="form-control mb-2 mr-sm-2" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" for="surname" class="mr-sm-2">Surname:</label>
            <input asp-for="Surname" class="form-control mb-2 mr-sm-2" />
            <span class="text-danger" asp-validation-for="Surname"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pin" for="address" class="mr-sm-2">Pin:</label>
            <input asp-for="Pin" class="form-control mb-2 mr-sm-2" />
            <span class="text-danger" asp-validation-for="Pin"></span>
        </div>
        <div class="form-group">
            <label asp-for="Salary" for="phonenumber" class="mr-sm-2">Salary:</label>
            <input asp-for="Salary" class="form-control mb-2 mr-sm-2" />
            <span class="text-danger" asp-validation-for="Salary"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" for="phonenumber" class="mr-sm-2">PhoneNumber:</label>
            <input asp-for="PhoneNumber" class="form-control mb-2 mr-sm-2" />
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="IsCourier" for="phonenumber" class="mr-sm-2">IsCourier:</label>
            <input asp-for="IsCourier" class="form-control mb-2 mr-sm-2" />
            <span class="text-danger" asp-validation-for="IsCourier"></span>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary bgupdate">@text</button>
        </div>
    </form>
</body>
</html>
